---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic);

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
    // font-weight: lighter;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

.clear {
	clear:both;
}

.navbar-default {
	background-color: #252830;
	color: white;
	border-radius: 0;
	border:none;
	border-bottom: 2px solid #e5e5e5;
}
.navbar-header {
	filter: invert(100%) grayscale(1);
	-webkit-filter: invert(100%) grayscale(1);
}
.navbar-header:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%);	
}

.prices {
	background-color: #252830;
	color: white;
}

.header {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(../i/bg-header-02.jpg);
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: cover;
    background-attachment: fixed !important;
}

.firstscreen {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 100px;
}

.brandlogo {
	height: 35px;
}

.phonenum, .region {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
}

.servicename {
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 56px;
	text-shadow: 0 1px 2px black;
}
.servicename small {
	color: #fff;
	font: 40px;
}

.features {
	list-style: none;
	margin-left: 0px;
	font-size: 22px;
}

.features li {
	padding: 0 45px 20px 75px;
	text-align: left;
	position: relative;
}

.featurenumber {
	font-size: 22px;
	height: 50px;
	width: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 50px;
	color: #fff;
	display: inline-block;
	position: absolute;
	left: 0px;
}

.ctaform {
	background-color: white;
	padding: 30px;
	color: #333;
}

.formnotice {
	padding-top: 30px;
	margin-bottom: 0;
	font-weight: lighter;
	color: $grey-color;
}

.ctabutton, {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}
.ctabutton, .lastchance .btn{
	background-color: #E91E63;
	border-color: #C2185B;
}
.ctabutton:hover, .lastchance .btn:hover {
	background-color: #C2185B;
	border-color: #C2185B;
}

.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f8f9f2;
}

.case {
	background: #fefefe;
    border-radius: 4px;
    background-clip: padding-box;
    position: relative;
    box-shadow: 1px 1px 1px #ccc;
    // padding: 10px;
    margin-bottom: 30px;
    min-height: 250px;
}

.case i.fa {
	color: #F7954F;
    font-size: 18px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}



.subline {
    width: 140px;
    height: 4px;
    background: #286090;
    margin-bottom: 30px;
}

.howwework {
	padding-top: 60px;
	padding-bottom: 60px;
}

.roundicon {
	background-color: #286090;
	color: white;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 60px;
	border-radius: 50%;
	line-height: 100px;
	margin: 0 auto 30px auto;
}

.stageheader {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}

.stage {
	text-align: center;
}

.team {
	border-bottom: 1px solid #e5e5e5;
}

.puzomerka {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.funnumber {
	font-size: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #286090;
}

.varanty {
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #e5e5e5;
	background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url(../i/bg-varanty-01.jpg);
    background-repeat: no-repeat;
    background-position: 0% top;
    background-size: cover;
    background-attachment: fixed !important;
    color:white;
}

.shieldicon {
	text-align: center;
}

.shield {
	font-size: 120px;
}

.lastchance {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.lastchance .subline {
	margin-left: auto;
    margin-right: auto;
}

.lastchance .btn {
	padding: 14px;
    box-shadow: none;
    border: none;
    background-color: #f00a77;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer {
	background-color: #252830;
	color: #555;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Flipping */
.animations {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flip-container {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.case {
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.case.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}
.case.unflipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.case .front,
.case .back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 10px;
}

.case .back {
  width: 100%;
  -webkit-transform: rotateY( 180deg);
	-moz-transform: rotateY( 180deg);
	-o-transform: rotateY( 180deg);
	transform: rotateY( 180deg);
}